@defer (hydrate on hover) {
  <header app-header></header>
}

@if (product()) {
  <nav app-breadcrumbs [product]="product()!"></nav>

  <div class="grid gap-8 md:grid-cols-2">
    @defer (hydrate on interaction) {
      <app-gallery [images]="product()!.images!" />
    }

    <div class="space-y-3">
      <h1 class="text-4xl font-bold">{{ product()!.title }}</h1>

      <a
        routerLink="/products"
        [queryParams]="{ categoryId: product()!.category.id }"
        class="inline-block"
      >
        {{ product()!.category.name }}
      </a>

      <p class="text-lg text-neutral-500">{{ product()!.description }}</p>

      <div class="flex items-center gap-4">
        <div class="flex flex-col">
          @if (price()?.loading) {
            <div class="animate-pulse space-y-1">
              <div class="h-4 w-10 rounded bg-neutral-100"></div>
              <div class="h-6 w-16 rounded bg-neutral-200"></div>
            </div>
          } @else if (price()?.data?.product?.price) {
            <small
              class="text-lg font-semibold leading-none text-neutral-500 line-through md:text-lg"
            >
              {{ price()!.data.product.price | currency }}
            </small>

            <span class="text-2xl font-semibold leading-none">
              {{ price()!.data.product.price | currency }}
            </span>
          } @else {
            Price loading failed
          }
        </div>

        <button
          type="button"
          class="w-full rounded-md bg-black px-4 py-2.5 text-white hover:bg-black/90 md:w-auto md:px-6 md:text-lg"
          (click)="addToCart(product()!.id)"
        >
          Add to cart
        </button>
      </div>
    </div>
  </div>
}
