<div class="flex shrink-0 gap-4 lg:flex-col">
  @for (thumb of images(); track thumb) {
    <button
      type="button"
      class="relative block aspect-square w-12 overflow-clip rounded-lg bg-neutral-100 ring-black ring-offset-2 md:w-20"
      [class.ring-2]="preview() === thumb"
      (click)="preview.set(thumb)"
    >
      <img [ngSrc]="thumb" alt="Thumb" fill [loaderParams]="{ size: 'm' }" />
    </button>
  }
</div>

<div
  class="relative aspect-square w-full overflow-clip rounded-lg bg-neutral-100"
>
  <img [ngSrc]="preview()" alt="Preview" fill priority class="object-fill" />
</div>
